.container {
    width: 40%;
}

.container canvas {
    position: fixed;
    right: 4%;
}

@media only screen and (max-width: 600px) {
    .container canvas {
        position: relative
    }

    .container {
        width: 100%;
    }
}